<header id="header" class="fixed-top xyz navbar-expand-lg">
  <div class="container d-flex justify-content-between">
    <h1><a class="logo" href="index.html">SPLITDO</a></h1>

    <nav id="navbar" class="navbar">
      <button
        style="margin-top: 0.5rem; margin-bottom: 0.5rem"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="hov">
            <li><a class="nav-link scrollto" href="#hero">Home</a></li>
          </div>

          <div class="hov">
            <li><a class="" href="#about">About</a></li>
          </div>
          <div class="hov">
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
          </div>
          <div class="hov">
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </div>
          <div class="hov">
            <li><button class="btn" (click)="login()">Login</button></li>
          </div>
          <div class="hov">
            <li><button class="btn" (click)="signup()">Sigup</button></li>
          </div>

          <!-- <div class="hov">
            <li>
              <a class="nav-link scrollto" href="#On Demand">Properties</a>
            </li>
          </div> -->
          <!-- <div class="icon">
            <i class="bx bxs-shopping-bags bx-tada">
              <a class="nav-link scrollto" href="#"></a
            ></i>
          </div> -->
        </ul>
      </div>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
