<div class='formConatiner'>
  <div class='formWrapper'>
      <span class='logo'>Splitdo</span>
      <span class = 'title'>Login</span>
      <form class='regis'>
        <input  class='inpt'type='email' placeholder='email' name='email' [(ngModel)]="email"/>
        <input  class='inpt'type='password' placeholder='password' name='password' [(ngModel)]="password"/>
          <button class='sigbtn' (click)='login()'>SignIn</button>
      </form>
      <p id='dntacc'>You do have an account? Login</p>
  </div>
</div>
